@import url("https://fonts.googleapis.com/css2?family=Figtree&display=swap");

body {
  background: url("../images/nightsky.png") no-repeat center fixed;
  background-size: cover;
}

* {
  font-family: "Figtree", sans-serif;
  color: white;
}

.card * {
  color: black;
}

nav {
  text-align: center;
  height: 80px;
  padding: 25px;
}

nav a {
  margin: 10px;
  padding: 10px;
  text-decoration: none;
  color: white;
  border: 3px solid white;
}

nav a:hover:not(.active) {
  background-color: rgba(255, 255, 255, 0.1);
}

.active {
  color: black;
  background-color: white;
}

.rainbow-text {
  animation: text 20s linear 0s infinite;
}

.rainbow-border {
  animation: border 20s linear 0s infinite;
}